.App {
    display: flex;
    margin-top: 250px;
    margin-left: 350px;
}

.counter {
    display: flex;
    width: 300px;
    height: 170px;
    flex-wrap: wrap;
    background-color: gray;
    border: aqua solid 2px;
    padding: 5px;

}

.count {
    width: 100%;
    background-color: gray;
    border: aqua solid 2px;
    height: 60%;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
}

.counterBtn {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: gray;
    border: aqua solid 2px;
    height: 30%;
}

.settingBtn {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: gray;
    border: aqua solid 2px;
    height: 30%;
}

.settings {
    display: flex;
    width: 300px;
    height: 170px;
    flex-wrap: wrap;
    padding: 5px;
    background-color: gray;
    border: aqua solid 2px;
    margin-left: 100px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: gray;
    border: aqua solid 2px;
    height: 60%;
    text-align: center;
}

.input {
    width: 100%;
    align-self: center;
}

.setbtn {
    background-color: aqua;
    border: aqua;
    width: 70px;
    height: 50%;
    margin-top: 15px;
}

.btn {
    background-color: aqua;
    border: aqua;
    font-size: 20px;
    width: 70px;
    margin-top: 15px;
}

.red {
    color: red;
    font-weight: bold;
    font-size: 50px;
}

.error {
    border: solid red 3px;
    background-color: coral;

}



